<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Heroku Connect Sample</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>

<table class="striped">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Title</th>
        <th>Department</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object.username }}</td>
            <td>{{ object.email }}</td>
            <td>{{ object.title }}</td>
            <td>{{ object.department }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>